*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}
body{
  background-color: whitesmoke;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;

}
#link{
  text-decoration: none; 
color: black; }
.main-heading{
  text-align: center;
  

}
.heading-1{
transform: rotate3d(130deg);
}




 #top-img-container{
  width:95vw;
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: absolute;
  top: 12%;
  left: 3%;
  padding-top: 1%;
    /* border: 4px solid black; */
  
  
}

#top-img-1{
  width: 45vw;
  height: 100%;
  background-image: url("https://media4.giphy.com/media/9AIT2pLtY16ZGerV50/giphy.gif?cid=ecf05e47j7v142vtrra7k1mviw642fah69lzh67plpvz1a6k&ep=v1_gifs_gifId&rid=giphy.gif&ct=g");
  /* border: 2px solid red; */
  background-repeat: no-repeat;
  background-size: cover;
} 
#top-img-2{
  width: 45vw;
  height: 49%;
  background-image: url("https://media1.giphy.com/media/SqflD5OvHoWILB7qWm/giphy.gif?cid=ecf05e47t7mz0guaqf30ozq48del3gciaw9nw33me2om9r7v&ep=v1_gifs_gifId&rid=giphy.gif&ct=g");
  /* border: 2px solid red; */
  background-repeat: no-repeat;
  background-size: cover;
} 
#top-img-3{
  width: 45vw;
  height: 51%;
  background-image: url("https://media1.giphy.com/media/pWO49XP9L7TxbgQVib/200.webp?cid=790b76116qaqah7szsoo74rbmu82icsx1yr6b071cy8bu3ol&ep=v1_gifs_trending&rid=200.webp&ct=g");
  /* border: 2px solid red; */
  background-repeat: no-repeat;
  background-size: cover;
} 
 #home-item-1{
  width: 50vw;
  height: 100%;
  box-sizing: border-box;
  padding-left: 1%;
  content: initial;
  text-align: center;
  margin-left: 2%;
 }
 #home-item-2{
  width: 50vw;
  height:50%;
  box-sizing: border-box;
  content: initial;
  text-align: center;
 }
 #home-item-3{
  width: 50vw;
  height: 50%;
  text-align: center;
 }
 #the-latest-page{
width: 7vw;
border-bottom: 3px solid red;
position:absolute;
top:64%;
left: 3%;


 }
#latest-home-page{
  margin-top: 5%;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  position:absolute;
  top: 68%;

 
}
#latest-item-page{
  width:30vw;
  height: 20vh;
}
 
#bottom-homepage-page{
  width: 45vw;
  height:200vh;
  contain: content;
  display: flex;
  flex-direction:column;
  justify-content: space-evenly;
  margin-top: 25%;
  position:absolute;
  top: 87%;
  left: 2%;

  offset: inherit;
}
#top-stories-page{
  position: absolute;
  top:132%;
  left: 2%;
  border-bottom: 3px solid red;
}
#bottom-1{
box-sizing: border-box;
}
#bottom-item-page{
  width: 100%;
  height:23vh;
 border-bottom: 3px solid gray;
  offset-position: initial;
  box-sizing: content-box;
  align-content: space-around;
text-align: center;
}
#bottom-img{
  float: left;
  width: 30%;
}
#top-post-page{
  position:absolute;
  top:136%;
  float: left;
  right: 43%;
  border-bottom: 3px solid red;
}

#bottom-right-page{

position: absolute;
top: 135%;
right: 2%;
  width: 45vw;
  height: 110vh;
  display: flex;
  flex-direction:column;
  justify-content: space-evenly;


 

}


#rigth-bottom-item-1-page{
  
  width: 100%;
  height: 20vh;
  float: left;
  content: unset;
  text-align: center;
}
#number{

  position: absolute;
  top:24%;
  right: 2%;
  font-weight: light;
  font-style:inherit;
   color:rgb(124, 112, 112);

  font-size: 3.5rem;
}
#number-2{

  position: absolute;
  top:54%;
  right: 2%;
  font-weight: light;
  font-style:inherit;
  color:rgb(124, 112, 112);
  font-size: 3.5rem;
}
#number-3{

  position: absolute;
  top:78%;
  right: 2%;
  font-weight: light;
  font-style:inherit;
  color:rgb(124, 112, 112);
  font-size: 3.5rem;
}
#img-right-bottom{
  float: left;
  width: 38%;
}

#advertise-page{
  position: absolute;
  top:240%;
  right: 12%;
  width: 34vw;
  height: 82vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
#thelatest-img{
  width: 100%;
}
#footer-page{
position: absolute;
top: 350%;
margin-bottom: 0%;
width: 100vw;
height: 22vh;
border: 1px solid black;
margin: 0;
padding: 0;
display: flex;
justify-content:space-evenly;
flex-direction: row;
background-color:rgb(117, 110, 110);
align-content: center;

}
#footer-item{
  width: 200px;
  height: 19vh;
  
  margin-top: 2px;
  text-align: center;
  color: white;
  align-items: center;
  line-height: 30px;
}
#item-2-footer{
  width: 200px;
  height: 19vh;
  
  margin-top: 2px;
  text-align: center;
  color: white;
  align-items: center;

}






/* media query start  */


@media only screen and (min-width:260px) and (max-width: 380px){

  body {
    overflow-x: hidden;
  }
  
  .main-heading{
    text-align: center;
    
  
  }
.heading-1{
  transform: rotate3d(130deg);
}
  
  
  
  
  
   #home-item-1{
    width: 50vw;
    height: 100%;
    box-sizing: border-box;
    padding-left: 1%;
    content: initial;
    text-align: center;
    margin-left: 2%;
   }
   #home-item-2{
    width: 50vw;
    height:50%;
    box-sizing: border-box;
    content: initial;
    text-align: center;
   }
   #home-item-3{
    width: 50vw;
    height: 50%;
    text-align: center;
   }
   #the-latest-page{
  width: 46vw;
  border-bottom: 3px solid red;
  position:absolute;
  top:75%;
  display: flex;
  align-items: center;
  
  
   }
  #latest-home-page{
    position: absolute;
    top: 80%;
    
    height: auto;
    width: 66vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
   align-items: center;
   
   
  }
  #latest-item-page{
  
    width:100vw;
   
    
    height: 50vh;
    font-size: small;
    text-align: center;
  }
   
  #bottom-homepage-page{
    width: 89vw;
    height:360vh;
    contain: content;
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
   
    position:absolute;
    top: 220%;
    
  
    offset: inherit;
  }
  #top-stories-page{
    position: absolute;
    top:225%;
   
    border-bottom: 3px solid red;
  }
  #bottom-1{
  box-sizing: border-box;
  }
  #bottom-item-page{
    margin: auto;
    width: 80vw;
    height:40vh;
   border-bottom: 3px solid gray;
    offset-position: initial;
    box-sizing: content-box;
    align-content: space-evenly;
    text-align: center;
  
  }
  #bottom-img{
    float: left;
    width:33rem;
    height: 50%;
  }
  #top-post-page{
    position:absolute;
    top:595%;
    float: left;
    right:72%;
    border-bottom: 3px solid red;
  }
  
  #bottom-right-page{
  
  position: absolute;
  top:600%;
  left: 2%;
    width: 95vw;
    height: 115vh;
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
  
  align-items: center;
   
  
  }
  
  
  #rigth-bottom-item-1-page{
    
    width: 92%;
    height: 38vh;
    float: left;
    content: unset;
   border-bottom: 3px solid gray;
   
  }
  #number{
  
    position: absolute;
    top:24%;
    right: 2%;
    font-weight: light;
    font-style:inherit;
     color:rgb(124, 112, 112);
  
    font-size: 3.5rem;
  }
  #number-2{
  
    position: absolute;
    top:54%;
    right: 2%;
    font-weight: light;
    font-style:inherit;
    color:rgb(124, 112, 112);
    font-size: 3.5rem;
  }
  #number-3{
  
    position: absolute;
    top:80%;
    right: 4%;
    font-weight: light;
    font-style:inherit;
    color:rgb(124, 112, 112);
    font-size: 3.5rem;
  }
  #img-right-bottom-page{
    float: left;
    width:94%;
  }
  
  #advertise-page{
    display: none;
  }
  #thelatest-img{
    width: 100%;
  }
  #footer-page{
  float: inline-end;
  top: 720%;
  margin-bottom: 0px;
  width: 100vw;
  height: 30vh;
  border: 1px solid black;
  gap: 0;
  display: flex;
  justify-content:space-evenly;
  flex-direction: row;
  background-color:rgb(117, 110, 110);
  align-content: center;
  
  }
  #footer-item{
    width: 25vw;
    height: 21vh;
    font-size: small;
    margin-top: 2px;
    text-align: center;
    color: white;
    align-items: center;
    line-height: 17px;
  }
  #item-2-footer{
    display: none;
  
  }
}


@media only screen and (min-width:381px) and (max-width: 460px){

  body {
    overflow-x: hidden;
  }
  
  .main-heading{
    text-align: center;
    
  
  }
.heading-1{
  transform: rotate3d(130deg);
}
  
  
  
  
  
   #home-item-1{
    width: 50vw;
    height: 100%;
    box-sizing: border-box;
    padding-left: 1%;
    content: initial;
    text-align: center;
    margin-left: 2%;
   }
   #home-item-2{
    width: 50vw;
    height:50%;
    box-sizing: border-box;
    content: initial;
    text-align: center;
   }
   #home-item-3{
    width: 50vw;
    height: 50%;
    text-align: center;
   }
   #the-latest-page{
  width: 46vw;
  border-bottom: 3px solid red;
  position:absolute;
  top:75%;
  display: flex;
  align-items: center;
  
  
   }
  #latest-home-page{
    position: absolute;
    top: 80%;
    
    height: auto;
    width: 66vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
   align-items: center;
   
   
  }
  #latest-item-page{
  
    width:100vw;
   
    
    height: 50vh;
    font-size: small;
    text-align: center;
  }
   
  #bottom-homepage-page{
    width: 89vw;
    height:360vh;
    contain: content;
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
   
    position:absolute;
    top: 220%;
    
  
    offset: inherit;
  }
  #top-stories-page{
    position: absolute;
    top:225%;
   
    border-bottom: 3px solid red;
  }
  #bottom-1{
  box-sizing: border-box;
  }
  #bottom-item-page{
    margin: auto;
    width: 80vw;
    height:40vh;
   border-bottom: 3px solid gray;
    offset-position: initial;
    box-sizing: content-box;
    align-content: space-evenly;
    text-align: center;
  
  }
  #bottom-img{
    float: left;
    width:33rem;
    height: 50%;
  }
  #top-post-page{
    position:absolute;
    top:595%;
    float: left;
    right:72%;
    border-bottom: 3px solid red;
  }
  
  #bottom-right-page{
  
  position: absolute;
  top:600%;
  left: 2%;
    width: 95vw;
    height: 115vh;
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
  
  align-items: center;
   
  
  }
  
  
  #rigth-bottom-item-1-page{
    
    width: 92%;
    height: 38vh;
    float: left;
    content: unset;
   border-bottom: 3px solid gray;
   
  }
  #number{
  
    position: absolute;
    top:24%;
    right: 2%;
    font-weight: light;
    font-style:inherit;
     color:rgb(124, 112, 112);
  
    font-size: 3.5rem;
  }
  #number-2{
  
    position: absolute;
    top:54%;
    right: 2%;
    font-weight: light;
    font-style:inherit;
    color:rgb(124, 112, 112);
    font-size: 3.5rem;
  }
  #number-3{
  
    position: absolute;
    top:80%;
    right: 4%;
    font-weight: light;
    font-style:inherit;
    color:rgb(124, 112, 112);
    font-size: 3.5rem;
  }
  #img-right-bottom-page{
    float: left;
    width:94%;
  }
  
  #advertise-page{
    display: none;
  }
  #thelatest-img{
    width: 100%;
  }
  #footer-page{
  float: inline-end;
  top: 720%;
  margin-bottom: 0px;
  width: 100vw;
  height: 30vh;
  border: 1px solid black;
  gap: 0;
  display: flex;
  justify-content:space-evenly;
  flex-direction: row;
  background-color:rgb(117, 110, 110);
  align-content: center;
  
  }
  #footer-item{
    width: 25vw;
    height: 21vh;
    font-size: small;
    margin-top: 2px;
    text-align: center;
    color: white;
    align-items: center;
    line-height: 17px;
  }
  #item-2-footer{
    display: none;
  
  }
}








@media only screen and (min-width:461px) and (max-width: 767px){
  *{
    margin:0;
    padding:0;
    /* box-sizing: border-box; */
    font-family: 'Times New Roman', Times, serif;
  }
  body{
    background-color: whitesmoke;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
  
  }
  .main-heading{
    text-align: center;
    
  
  }
.heading-1{
  transform: rotate3d(130deg);
}
  
  
  
  
  
   #home-item-1{
    width: 50vw;
    height: 100%;
    box-sizing: border-box;
    padding-left: 1%;
    content: initial;
    text-align: center;
    margin-left: 2%;
   }
   #home-item-2{
    width: 50vw;
    height:60%;
    box-sizing: border-box;
    content: initial;
    text-align: center;
   }
   #home-item-3{
    width: 50vw;
    height: 60%;
    text-align: center;
   }
   #the-latest-page{
  width: 20vw;
  border-bottom: 3px solid red;
  position:absolute;
  top:12%;
  left: 4%;
  
  
   }
  #latest-home-page{
   position: absolute;
   top: 16%;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
  
   
  }
  #latest-item-page{
    width:30vw;
    height: 20vh;
    content: unset;
  }
   
  #bottom-homepage-page{
    width: 44vw;
    height:300vh;
    contain: content;
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
  
    position:absolute;
    top: 55%;
    
  
    offset: inherit;
  }
  #top-stories-page{
    position: absolute;
    top:68%;
    left: 2%;
    border-bottom: 3px solid red;
  }
  #bottom-1{
  box-sizing: border-box;
  }
  #bottom-item{
    width: 97%;
    height:38vh;
   border-bottom: 3px solid gray;
    offset-position: initial;
    box-sizing: content-box;
 
  
  
  }
  #bottom-img-page{
    float: left;
    width: 100%;
    height: 50%;
  }
  #top-post-page{
    position:absolute;
    top:75%;
    
    right: 33%;
    border-bottom: 3px solid red;
  }
  
  #bottom-right-page{
  
  position: absolute;
  top: 76%;
 
    width: 45vw;
    height: 110vh;
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
  
  
   
  
  }
  
  
  #rigth-bottom-item-1-page{
    
    width: 100%;
    height: 30vh;
    float: left;
    content: unset;
  }
  #number{
  
    position: absolute;
    top:27%;
    right: 2%;
    font-weight: light;
    font-style:inherit;
     color:rgb(124, 112, 112);
  
    font-size: 3.5rem;
  }
  #number-2{
  
    position: absolute;
    top:57%;
    right: 2%;
    font-weight: light;
    font-style:inherit;
    color:rgb(124, 112, 112);
    font-size: 3.5rem;
  }
  #number-3{
  
    position: absolute;
    top:92%;
    right: 2%;
    font-weight: light;
    font-style:inherit;
    color:rgb(124, 112, 112);
    font-size: 3.5rem;
  }
  #img-right-bottom-page{
    float: left;
    width: 100%;
  }
  
  #advertise-page{
    position: absolute;
    top:220%;
    right: 5%;
    width: 40vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
  }
  #thelatest-img{
    width: 100%;
  }
  #footer-page{
  position: absolute;
  top: 400%;
  margin-bottom: 0%;
  width: 100vw;
  height: 23vh;
  border: 1px solid black;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content:space-evenly;
  flex-direction: row;
  background-color:rgb(117, 110, 110);
  align-content: center;
  
  }
  #footer-item{
    width: 200px;
    height: 19vh;
    
    margin-top: 2px;
    text-align: center;
    color: white;
    align-items: center;
    line-height: 30px;
  }
  #item-2-footer{
    width: 200px;
    height: 19vh;
    
    margin-top: 2px;
    text-align: center;
    color: white;
    align-items: center;
  
  }
}


@media only screen and (min-width:768px) and (max-width:1000px){
  *{
    margin:0;
    padding:0;
    /* box-sizing: border-box; */
    font-family: 'Times New Roman', Times, serif;
  }
  body{
    background-color: whitesmoke;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
  
  }
  .main-heading{
    text-align: center;
    
  
  }
.heading-1{
  transform: rotate3d(130deg);
}
  
  
  
  
  
   #home-item-1{
    width: 50vw;
    height: 100%;
    box-sizing: border-box;
    padding-left: 1%;
    content: initial;
    text-align: center;
    margin-left: 2%;
   }
   #home-item-2{
    width: 50vw;
    height:60%;
    box-sizing: border-box;
    content: initial;
    text-align: center;
   }
   #home-item-3{
    width: 50vw;
    height: 60%;
    text-align: center;
   }
   #the-latest-page{
  width: 10vw;
  border-bottom: 3px solid red;
  position:absolute;
  top:40%;
  left: 2%;
  
  
   }
  #latest-home-page{
   position: absolute;
   top: 42%;
    width: 96vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    text-overflow: initial;
  
   
  }
  #latest-item-page{
    width:30vw;
    height: 20vh;
    content: unset;
  }
   
  #bottom-homepage-page{
    width: 44vw;
    height:300vh;
    contain: content;
    display: flex;
    flex-direction:column;
    margin-top: 2%;
    margin-bottom: 2%;
    /* justify-content: space-evenly; */
  
    position:absolute;
    top: 60%;
    
  
    offset: inherit;
  }
  #top-stories-page{
    position: absolute;
    top:67%;
    left: 2%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 3px solid red;
  }
  #bottom-1{
  box-sizing: border-box;
  }
  #bottom-item-page{
    width: 97%;
    height:26vh;
   border-bottom: 3px solid gray;
    offset-position: initial;
    box-sizing: content-box;
 font-size: 1.1rem;
  margin-top: 15px;
  margin-bottom: 15px;
  
  }
  #bottom-img{
    float: left;
    width: 100%;
    height: 50%;
  }
  #top-post-page{
    position:absolute;
    top:67%;
    
    right: 37%;
    border-bottom: 3px solid red;
  }
  
  #bottom-right-page{
  
  position: absolute;
  top: 73%;
  right: 2%;
 
    width: 44vw;
    height: 100vh;
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
  
  
   
  
  }
  
  
  #rigth-bottom-item-1-page{
    
    width: 100%;
    height: 30vh;
    float: left;
    content: unset;
  }
  #number{
  
    position: absolute;
    top:27%;
    right: 2%;
    font-weight: light;
    font-style:inherit;
     color:rgb(124, 112, 112);
  
    font-size: 3.5rem;
  }
  #number-2{
  
    position: absolute;
    top:57%;
    right: 2%;
    font-weight: light;
    font-style:inherit;
    color:rgb(124, 112, 112);
    font-size: 3.5rem;
  }
  #number-3{
  
    position: absolute;
    top:92%;
    right: 2%;
    font-weight: light;
    font-style:inherit;
    color:rgb(124, 112, 112);
    font-size: 3.5rem;
  }
  #img-right-bottom-page{
    float: left;
    width: 100%;
    height: 50%;
  }
  
  #advertise-page{
    position: absolute;
    top:179%;
    right: 5%;
    width: 40vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
  }
  #thelatest-img{
    width: 100%;
  }
  #footer-page{
  position: absolute;
  top: 310%;
  margin-bottom: 0%;
  width: 100vw;
  height: 20vh;
  border: 1px solid black;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content:space-evenly;
  flex-direction: row;
  background-color:rgb(117, 110, 110);
  align-content: center;
  
  }
  #footer-item{
    width: 200px;
    height: 19vh;
    
    margin-top: 2px;
    text-align: center;
    color: white;
    align-items: center;
    line-height: 30px;
  }
  #item-2-footer{
    width: 200px;
    height: 19vh;
    
    margin-top: 2px;
    text-align: center;
    color: white;
    align-items: center;
  
  }

}

@media only screen and (min-width:1001px) and (max-width: 1350px){
  *{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
  }
  body{
    background-color: whitesmoke;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
  
  }
  #link{      
    text-decoration: none; 
  color: black; }
  .main-heading{
    text-align: center;
    
  
  }
  .heading-1{
  transform: rotate3d(130deg);
  }
  
  
  
  
   #container-1-home{
    width:90vw;
    height: 75vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    padding-top: 1%;
      
    box-sizing: border-box;
    align-items: center;
    
    
  }
   #home-item-1{
    width: 50vw;
    height: 100%;
    box-sizing: border-box;
    padding-left: 1%;
    content: initial;
    text-align: center;
    margin-left: 2%;
   }
   #home-item-2{
    width: 50vw;
    height:50%;
    box-sizing: border-box;
    content: initial;
    text-align: center;
   }
   #home-item-3{
    width: 50vw;
    height: 50%;
    text-align: center;
   }
   #the-latest-page{
  width: 7vw;
  border-bottom: 3px solid red;
  position:absolute;
  top:64%;
  left: 3%;
  
  
   }
  #latest-home-page{
    margin-top: 5%;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    position:absolute;
    top: 68%;
  
   
  }
  #latest-item-page{
    width:30vw;
    height: 20vh;
  }
   
  #bottom-homepage-page{
    width: 45vw;
    height:200vh;
    contain: content;
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    margin-top: 25%;
    position:absolute;
    top: 87%;
    left: 2%;
  
    offset: inherit;
  }
  #top-stories-page{
    position: absolute;
    top:132%;
    left: 2%;
    border-bottom: 3px solid red;
  }
  #bottom-1{
  box-sizing: border-box;
  }
  #bottom-item-page{
    width: 100%;
    height:23vh;
   border-bottom: 3px solid gray;
    offset-position: initial;
    box-sizing: content-box;
    align-content: space-around;
  text-align: center;
  }
  #bottom-img{
    float: left;
    width: 30%;
  }
  #top-post-page{
    position:absolute;
    top:136%;
    float: left;
    right: 43%;
    border-bottom: 3px solid red;
  }
  
  #bottom-right-page{
  
  position: absolute;
  top: 135%;
  right: 2%;
    width: 45vw;
    height: 110vh;
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
  
  
   
  
  }
  
  
  #rigth-bottom-item-1-page{
    
    width: 100%;
    height: 20vh;
    float: left;
    content: unset;
    text-align: center;
  }
  #number{
  
    position: absolute;
    top:24%;
    right: 2%;
    font-weight: light;
    font-style:inherit;
     color:rgb(124, 112, 112);
  
    font-size: 3.5rem;
  }
  #number-2{
  
    position: absolute;
    top:54%;
    right: 2%;
    font-weight: light;
    font-style:inherit;
    color:rgb(124, 112, 112);
    font-size: 3.5rem;
  }
  #number-3{
  
    position: absolute;
    top:78%;
    right: 2%;
    font-weight: light;
    font-style:inherit;
    color:rgb(124, 112, 112);
    font-size: 3.5rem;
  }
  #img-right-bottom{
    float: left;
    width:20vw;
  }
  
  #advertise-page{
    position: absolute;
    top:240%;
    right: 12%;
    width: 34vw;
    height: 82vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
  }
  #thelatest-img{
    width: 100%;
  }
  #footer-page{
  position: absolute;
  top: 350%;
  margin-bottom: 0%;
  width: 100vw;
  height: 24vh;
  border: 1px solid black;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content:space-evenly;
  flex-direction: row;
  background-color:rgb(117, 110, 110);
  align-content: center;
  
  }
  #footer-item{
    width: 200px;
    height: 19vh;
    
    margin-top: 2px;
    text-align: center;
    color: white;
    align-items: center;
    line-height: 30px;
  }
  #item-2-footer{
    width: 200px;
    height: 19vh;
    
    margin-top: 2px;
    text-align: center;
    color: white;
    align-items: center;
  
  }
  
  
  
  
}
